subscription.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Import Google Font Inter-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <!-- Import Boxicons Icon Font-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Style CSS-->
    <link rel="stylesheet" href="css/style.css">
    <!-- Style Dark-->
    <link rel="stylesheet" type="text/css" href="css/style-dark.css">
    <title>Entermeme - Family Friendly Meme Marketplace
    </title>
  </head>
  <body class="dark-mode"><b class="screen-overlay"></b>
    <!-- Header-->
    <header class="header">
      <!-- Mobile Menu Toggler--><a class="mr-auto mobile-menu-btn" data-trigger="#sidebarLeft" role="button"><i class="bx bx-menu"></i></a>
      <!-- -- end Mobile Menu Toggler-->
      <!-- Logo for Desktop--><a class="website-logo pl-3 d-none d-lg-block" href="index.html" title="Entermeme"><img class="logo-dark" src="img/logo.svg" alt="Entermeme" height="26"/><img class="logo-white" src="img/logo-white.svg" alt="Entermeme" height="26"/></a>
      <!-- -- end Logo-->
      <!-- Search-->
      <div class="search-pane">
        <form class="search-form">
          <div class="search-icon"><i class="bx bx-search"></i></div>
          <input class="search-field form-control" placeholder="Search..."/>
          <select class="custom-select bg-light" id="categorySelect">
            <option selected="">Categories</option>
            <option value="1">Animals</option>
            <option value="2">Art</option>
            <option value="3">Automotive</option>
          </select>
        </form>
        <button class="search-toggle-btn ml-2" onclick="toggleClass('.search-pane', 'search-visible')"><i class="bx bx-x lead"></i> <span class="hidden-xs ml-1">Close</span></button>
      </div>
      <!-- -- end Search--><a class="search-toggle-btn" onclick="toggleClass('.search-pane', 'search-visible')"><i class="bx bx-search-alt"></i></a><a class="notification-btn active" href="#0"><i class="bx bx-bell"></i>
        <div class="indicator"></div></a>
      <!-- User-->
      <div class="user-controls">
        <!-- Log In links-->
        <!--.d-block.user-login-btn.text-md.fw-500.mr-3 
        a(href='#0' data-toggle="modal" data-target="#loginModal") Log In 
        span.text-muted or  
        a(href='#0' data-toggle="modal" data-target="#registerModal") Sign Up
        
        -->
        <!--For Logged In users Only--><a class="user-menu ml-auto" href="my-page.html"><img class="user-avatar user-pro" src="img/user_01.png" alt="danika" width="40"/>
          <div class="badge badge-gold user-points">596</div>
          <div class="badge badge-pro"><span>⍟</span></div></a>
      </div>
      <!-- -- end User-->
      <!-- Upload Button--><a class="btn-upload btn-success" href="new-meme-alt.html"><span class="hidden-xs mr-1"><i class="bx bx-smile lead"></i></span>Add  <span class="hidden-xs">&nbsp;Meme</span> <span class="badge badge-gold">+5 <span class="hidden-xs">points</span></span></a>
      <!-- end Upload Button-->
    </header>
    <!-- -- end Header-->
    <section class="page">
      <!-- Sidebar Left-->
      <div class="sidebar-left text-md mobile-offcanvas" id="sidebarLeft">
        <div class="sidebar-inner">
          <ul class="nav site-nav flex-column">
            <li class="nav-item active"><a class="nav-link active" href="index.html"> <span class="text-emoji">🏠️</span>Home</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💥</span>Trending</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">👶</span>Fresh</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💕</span>Liked</a></li>
            <li class="nav-divider"></li>
            <li class="nav-item active"><a class="nav-link" href="projects.html"> <span class="text-emoji">🎁</span>Project Board</a></li>
            <li class="nav-item active"><a class="nav-link" href="create-memes.html"> <span class="text-emoji">🏅</span>Create Memes</a></li>
            <li class="nav-section-title">Categories</li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🐾</span>Animals</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎭️</span>Art</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">📚️</span>Books</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">👗</span>Fashion</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💭</span>Comics</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">👽️</span>Conspiracy Theory</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎻</span>Culture</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">😁</span>Emoji</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">📺️</span>Entertainment</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">👨‍👩‍👧‍👦</span>Family</a></li>
          </ul><a class="readmore" href="#0">Show more</a>
          <div class="sidebar-footer text-sm mt-5 text-center text-muted">
            <div class="px-3 pb-1">
              <div class="theme-switcher"><a class="theme-dark" href="#0" onclick="themeSwitch()"> <img src="img/icons/moon.svg" width="20"/><span>Dark Mode</span></a><a class="theme-light" href="#0" onclick="themeSwitch()"> <img src="img/icons/sun.svg" width="20"/><span>Light Mode</span></a></div>
            </div>
            <li class="nav-divider"></li>
            <p><a class="d-block meme-tag" href="#0">Privacy Policy</a><a class="d-block meme-tag" href="#0">Terms & Conditions</a></p>
            <div class="small">&copy; - 2020 Entermeme</div>
          </div>
        </div>
      </div>
      <!-- -- end Sidebar Left-->
      <div class="content"><a class="back-link" href="my-page.html"><- Back</a>
        <!-- Edit Profile-->
        <div class="meme-feed pt-0">
          <div class="card">
            <div class="card-header text-center">
              <h4 class="mb-1 mt-2">Become a Pro User</h4>
            </div>
            <div class="card-body border-top">
              <div class="text-center">
                <div class="pro-user-cta">
                  <div class="user-avatar"><img class="user-pro" src="img/user_01.png">
                    <div class="badge badge-pro"><span>⍟</span>&nbsp;
                      PRO
                    </div>
                  </div>
                </div>
                <ul class="list-unstyled text-md">
                  <li>
                     🔇
                    No ads
                  </li>
                  <li>
                     🎫 
                    Access to daily contests
                  </li>
                  <li>
                    🎙 
                    Participate in our livestreams
                  </li>
                  <li>
                    ❤️  
                    Support development
                  </li>
                </ul>
                <hr>
              </div>
              <div class="form-row justify-content-center">
                <div class="col-12">
                  <h6>SELECT YOUR PLAN</h6>
                </div>
                <div class="col-12 col-xl-6">
                  <div class="choice-item">
                    <input id="choice01" type="radio" name="subscriptionType">
                    <label for="choice01">
                      <div class="mb-2">
                        <h5 class="mb-1">Yearly</h5>
                        <div class="text-xs text-muted">250 boosts per year</div>
                      </div>
                      <div class="border-top pt-3"><span class="lead">$49.99/year </span><span class="badge badge-danger">2 months free</span></div>
                    </label>
                  </div>
                </div>
                <div class="col-12 col-xl-6">
                  <div class="choice-item">
                    <input id="choice02" type="radio" name="subscriptionType">
                    <label for="choice02">
                      <div class="mb-2">
                        <h5 class="mb-1">Monthly</h5>
                        <div class="text-xs text-muted">15 boosts per month</div>
                      </div>
                      <div class="border-top pt-3"><span class="lead">$4.99/month</span></div>
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="divider mt-2"><span>or</span></div>
                </div>
                <div class="col-12">
                  <h6>TOP-UP YOUR BOOSTS</h6>
                </div>
                <div class="col-12 col-xl-6">
                  <div class="choice-item">
                    <input id="choice03" type="radio" name="subscriptionType">
                    <label for="choice03">
                      <div class="mb-2">
                        <h5 class="mb-1">10 Boosts</h5>
                        <div class="text-xs text-muted">One-time purchase</div>
                      </div>
                      <div class="border-top pt-3"><span class="lead">$4.99</span></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-0 mt-2">Payment Method</h4>
            </div>
            <div class="card-body border-top">
              <div class="form-row">
                <div class="col-10 col-lg-11">
                  <div class="choice-item">
                    <input id="card01" type="radio" name="paymentType">
                    <label for="card01">
                      <dl class="mb-0">
                        <dt>VISA </dt>
                        <dl class="text-xs mb-0">Ending *4920, expiring 02/24</dl>
                      </dl>
                    </label>
                  </div>
                </div>
                <div class="col-2 col-lg-1 text-center"><a class="text-danger" href="#0" data-toggle="tooltip" data-placement="top" title="Delete Card"><i class="bx bx-trash"></i></a></div>
              </div>
              <div class="form-row">
                <div class="col-10 col-lg-11">
                  <div class="choice-item">
                    <input id="card02" type="radio" name="paymentType">
                    <label for="card02">
                      <dl class="mb-0">
                        <dt>MasterCard </dt>
                        <dl class="text-xs mb-0">Ending *4920, expiring 02/24</dl>
                      </dl>
                    </label>
                  </div>
                </div>
                <div class="col-2 col-lg-1 text-center"><a class="text-danger" href="#0" data-toggle="tooltip" data-placement="top" title="Delete Card"><i class="bx bx-trash"></i></a></div>
              </div>
              <div class="form-row">
                <div class="col-12 col-lg-11">
                  <p><a class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#newCard" role="button" aria-expanded="false" aria-controls="newCard">Add New Payment Method</a></p>
                  <div class="collapse" id="newCard">
                    <div class="border rounded pt-3 px-3 pb-2">
                      <div class="form-group">
                        <label for="cardholderName">Cardholder Name</label>
                        <input class="form-control" id="cardholderName" type="text" placeholder="Name on Card">
                      </div>
                      <div class="form-group">
                        <label for="cardDetails">Card Details</label>
                        <input class="form-control" id="cardDetails" type="text" placeholder="Card Number">
                      </div>
                      <div class="form-group form-check">
                        <input class="form-check-input" id="exampleCheck1" type="checkbox">
                        <label class="form-check-label" for="exampleCheck1">Save card for future payments</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="divider"><span>or Pay With</span></div>
              <div class="d-flex py-3 justify-content-center">
                <div class="p-2"><a href="#0"><img src="img/icons/apple-pay.svg" alt="Apple Pay" height="40"></a></div>
                <div class="p-2"><a href="#0"><img src="img/icons/google-pay.svg" alt="Google Pay" height="40"></a></div>
                <div class="p-2"><a class="venmo-btn" href="#0">
                    <svg data-test-id="venmoIcon" width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M20.527 0.917969C21.3712 2.30466 21.75 3.73454 21.75 5.54027C21.75 11.2992 16.816 18.7782 12.8115 24.0295H3.66683L0 2.17963L8.00984 1.42188L9.95772 16.9687C11.7679 14.0271 14.0064 9.40482 14.0064 6.25559C14.0064 4.53018 13.7097 3.35718 13.2458 2.39104L20.527 0.917969Z" fill="white"></path>
                    </svg><span>Venmo</span></a></div>
              </div>
            </div>
            <div class="card-footer border-top py-3">
              <button class="btn btn-primary btn-block btn-lg">Complete Payment</button>
            </div>
          </div>
        </div>
        <!-- -- end Edit Profile-->
      </div>
      <!-- Sidebar Right-->
      <div class="sidebar-right mobile-offcanvas" id="sidebarRight">
        <div class="sidebar-inner">
          <div class="poll-widget">
            <form class="widget-form">
              <div class="widget-question">🤔 What new feature should we add next to this website?</div>
              <div class="poll-item">
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" id="customRadio1" type="radio" name="pollWidget"/>
                  <label class="custom-control-label" for="customRadio1">Ability to upload gifs</label>
                </div>
              </div>
              <div class="poll-item">
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" id="customRadio2" type="radio" name="pollWidget"/>
                  <label class="custom-control-label" for="customRadio2">Something random that’s funny and dank</label>
                </div>
              </div>
              <div class="poll-item">
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" id="customRadio3" type="radio" name="pollWidget"/>
                  <label class="custom-control-label" for="customRadio3">A job board to post meme jobs so people can get hired for doing memesdank</label>
                </div>
              </div>
              <div class="poll-item">
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" id="customRadio4" type="radio" name="pollWidget"/>
                  <label class="custom-control-label" for="customRadio4">Other</label>
                  <input class="form-control form-control-sm" type="text" placeholder="Please describe" disabled="disabled"/>
                </div>
              </div>
              <button class="btn btn-sm btn-block btn-primary widget-btn" type="submit">Submit answer</button>
            </form>
          </div>
          <div class="sidebar-widget px-3 pt-2"><a class="btn btn-block btn-danger text-md d-flex align-items-center justify-content-center" href="#0" data-toggle="modal" data-target="#inviteModal">
               Invite a Friend and Earn 50 points!   <span class="badge badge-gold ml-1">+50</span></a></div>
          <div class="sidebar-widget">
            <div class="widget-title">
              <h4 class="h6 m-0">Today’s Leaderboard</h4>
            </div>
            <!-- Leaderboard-->
            <div class="leaderboard-table">
              <div class="leaderboard-top">
                <!-- First Place-->
                <div class="leaderboard-1st">
                  <div class="medal-xl medal-gold">
                    <div class="ribbon ribbon-xl"><span></span></div>
                    <div class="medal-circle">
                      <div class="medal-content">
                        <div class="medal-inset">
                          <div class="medal-number">1<span>st</span></div><span>place</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="leaderboard-1st-avatar"><img class="rounded-circle" src="img/user_03.png" alt=""/></div>
                  <div class="d-flex flex-column"><a class="leaderboard-top-name" href="#0">iamrossandal</a></div><span class="badge badge-gold badge-lg">9899	</span>
                </div>
                <!-- end First Place-->
                <!-- Second and Third Place-->
                <div class="leaderboard-2-3">
                  <div class="leaderboard-2-3-user">
                    <div class="medal-lg medal-silver">
                      <div class="ribbon ribbon-lg"><span></span></div>
                      <div class="medal-circle">
                        <div class="medal-content">
                          <div class="medal-inset">
                            <div class="medal-number">2</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="leaderboard-top-avatar"><img class="rounded-circle" src="img/user_03.png" alt=""/></div>
                    <div class="d-flex flex-column"><a class="leaderboard-top-name" href="#0">iamrossandal</a></div><span class="badge badge-gold badge-lg">9899</span>
                  </div>
                  <div class="leaderboard-2-3-user">
                    <div class="medal-lg medal-bronze">
                      <div class="ribbon ribbon-lg"><span></span></div>
                      <div class="medal-circle">
                        <div class="medal-content">
                          <div class="medal-inset">
                            <div class="medal-number">3</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="leaderboard-top-avatar"><img class="rounded-circle" src="img/user_03.png" alt=""/></div>
                    <div class="d-flex flex-column"><a class="leaderboard-top-name" href="#0">iamrossandal</a></div><span class="badge badge-gold badge-lg">9899</span>
                  </div>
                </div>
                <!-- end Second and Third Place-->
              </div>
              <div class="leaderboard-table-item top-10">
                <div class="px-2">
                  <div class="medal-sm medal-other">
                    <div class="ribbon ribbon-sm"><span></span></div>
                    <div class="medal-circle">
                      <div class="medal-number">4</div>
                    </div>
                  </div>
                </div><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">samsamasam</div>
                </div><span class="badge badge-gold ml-auto">543</span>
              </div>
              <div class="leaderboard-table-item top-10">
                <div class="px-2">
                  <div class="medal-sm medal-other">
                    <div class="ribbon ribbon-sm"><span></span></div>
                    <div class="medal-circle">
                      <div class="medal-number">5</div>
                    </div>
                  </div>
                </div><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">george!</div>
                </div><span class="badge badge-gold ml-auto">95 </span>
              </div>
              <div class="leaderboard-table-item top-10">
                <div class="px-2">
                  <div class="medal-sm medal-other">
                    <div class="ribbon ribbon-sm"><span></span></div>
                    <div class="medal-circle">
                      <div class="medal-number">6</div>
                    </div>
                  </div>
                </div><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">danika</div>
                </div><span class="badge badge-gold ml-auto">8</span>
              </div>
              <div class="leaderboard-table-item top-10">
                <div class="px-2">
                  <div class="medal-sm medal-other">
                    <div class="ribbon ribbon-sm"><span></span></div>
                    <div class="medal-circle">
                      <div class="medal-number">7</div>
                    </div>
                  </div>
                </div><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">danika</div>
                </div><span class="badge badge-gold ml-auto">8</span>
              </div>
              <div class="leaderboard-table-item top-10">
                <div class="px-2">
                  <div class="medal-sm medal-other">
                    <div class="ribbon ribbon-sm"><span></span></div>
                    <div class="medal-circle">
                      <div class="medal-number">8</div>
                    </div>
                  </div>
                </div><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">danika</div>
                </div><span class="badge badge-gold ml-auto">8</span>
              </div>
              <div class="leaderboard-table-item top-10">
                <div class="px-2">
                  <div class="medal-sm medal-other">
                    <div class="ribbon ribbon-sm"><span></span></div>
                    <div class="medal-circle">
                      <div class="medal-number">9</div>
                    </div>
                  </div>
                </div><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">danika</div>
                </div><span class="badge badge-gold ml-auto">8</span>
              </div>
              <div class="leaderboard-table-item top-10">
                <div class="px-2">
                  <div class="medal-sm medal-other">
                    <div class="ribbon ribbon-sm"><span></span></div>
                    <div class="medal-circle">
                      <div class="medal-number">10</div>
                    </div>
                  </div>
                </div><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">danika</div>
                </div><span class="badge badge-gold ml-auto">8</span>
              </div>
              <div class="leaderboard-table-item"><span class="order-number">11</span><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">jamesssss</div>
                </div><span class="badge badge-gold ml-auto">7</span>
              </div>
              <div class="leaderboard-table-item"><span class="order-number">12</span><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">ewwworld</div>
                </div><span class="badge badge-gold ml-auto">5</span>
              </div>
              <div class="leaderboard-table-item"><span class="order-number">13</span><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">samsamasam</div>
                </div><span class="badge badge-gold ml-auto">5</span>
              </div>
              <div class="leaderboard-table-item"><span class="order-number">14</span><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">george!</div>
                </div><span class="badge badge-gold ml-auto">5</span>
              </div>
              <div class="leaderboard-table-item bg-primary text-white my-stats"><span class="order-number">999+</span><img class="rounded-circle" src="img/user_01.png" alt="danika" width="32"/>
                <div class="user-legend">
                  <div class="user-legend-name">You (solistra)</div>
                </div><span class="badge badge-gold ml-auto">543</span>
              </div>
            </div>
            <!-- -- end Leaderboard-->
          </div>
        </div>
      </div>
      <!-- -- end Sidebar Right-->
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <!-- Enable Bootstrap tooltip-->
    <script>
      $(function () {
      	$('[data-toggle="tooltip"]').tooltip()
      })
      
    </script>
    <!-- Toggle sidebars on mobile-->
    <script>
      $("[data-trigger]").on("click", function(e){
      	e.preventDefault();
      	e.stopPropagation();
      	var offcanvas_id =  $(this).attr('data-trigger');
      	$(offcanvas_id).toggleClass("show");
      	$('body').toggleClass("offcanvas-active");
      	$(".screen-overlay").toggleClass("show");
      }); 
      
      $(".btn-close, .screen-overlay").click(function(e){
      	$(".screen-overlay").removeClass("show");
      	$(".mobile-offcanvas").removeClass("show");
      	$("body").removeClass("offcanvas-active");
      }); 
      
    </script>
    <!-- Show and hide search on mobile-->
    <script>
      function toggleClass(el, className) {
       var el = document.querySelectorAll(el);
      	for (i = 0; i < el.length; i++) {
      		if (el[i].classList) {
      			el[i].classList.toggle(className);
      		} else {
      				var classes = el[i].className.split(' ');
      				var existingIndex = -1;
      				for (var j = classes.length; j--;) {
      					if (classes[j] === className)
      						existingIndex = j;
      				}
      				if (existingIndex >= 0)
      					classes.splice(existingIndex, 1);
      				else
      					classes.push(className);
      
      			el[i].className = classes.join(' ');
      		}
      	}
      }
      
    </script>
    <!-- Toggle -->
    <script>
      function themeSwitch() {
      	var element = document.body;
      	element.classList.toggle("dark-mode");
      }
    </script>
  </body>
</html>

img/src/pug/subscription.pug
extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+header
	section.page
		+sidebar-left
		.content
			
			a.back-link(href='my-page.html') <- Back
			// Edit Profile
			.meme-feed.pt-0
				
				.card
					.card-header.text-center
						h4.mb-1.mt-2 Become a Pro User
					.card-body.border-top
						.text-center
							.pro-user-cta
								.user-avatar
									img.user-pro(src='img/user_01.png')
									.badge.badge-pro
										span ⍟
										| &nbsp;
										| PRO
							
							ul.list-unstyled.text-md
								li 
									| 🔇
									| No ads
								li 
									| 🎫 
									| Access to daily contests
								li
									| 🎙 
									| Participate in our livestreams
								li
									| ❤️  
									| Support development
							
							hr
						
						.form-row.justify-content-center
							.col-12
								h6 SELECT YOUR PLAN
							.col-12.col-xl-6
								.choice-item
									input#choice01(type='radio' name='subscriptionType')
									label(for='choice01')
										.mb-2
											h5.mb-1 Yearly
											.text-xs.text-muted 250 boosts per year
										.border-top.pt-3
											span.lead $49.99/year 
											span.badge.badge-danger 2 months free
							.col-12.col-xl-6
								.choice-item
									input#choice02(type='radio' name='subscriptionType')
									label(for='choice02')
										.mb-2
											h5.mb-1 Monthly
											.text-xs.text-muted 15 boosts per month
										.border-top.pt-3
											span.lead $4.99/month
							
							.col-12
								.divider.mt-2
									span or
							
							.col-12
								h6 TOP-UP YOUR BOOSTS
							.col-12.col-xl-6
								.choice-item
									input#choice03(type='radio' name='subscriptionType')
									label(for='choice03')
										.mb-2
											h5.mb-1 10 Boosts
											.text-xs.text-muted One-time purchase
										.border-top.pt-3
											span.lead $4.99
											
					
				.card

					.card-header
						h4.card-title.mb-0.mt-2 Payment Method
					.card-body.border-top
						
						.form-row
							.col-10.col-lg-11
								.choice-item
									input#card01(type='radio' name='paymentType')
									label(for='card01')
										dl.mb-0
											dt VISA 
											dl.text-xs.mb-0 Ending *4920, expiring 02/24
							.col-2.col-lg-1.text-center
								a.text-danger.text-xs(href='#0' data-toggle="tooltip" data-placement="top" title="Delete Card")
									+icon-trash('16', '#EF4E4E')
						
						.form-row
							.col-10.col-lg-11
								.choice-item
									input#card02(type='radio' name='paymentType')
									label(for='card02')
										dl.mb-0
											dt MasterCard 
											dl.text-xs.mb-0 Ending *4920, expiring 02/24
							.col-2.col-lg-1.text-center
								a.text-danger.text-xs(href='#0' data-toggle="tooltip" data-placement="top" title="Delete Card")
									+icon-trash('16', '#EF4E4E')
						
						.form-row
							.col-12.col-lg-11
								p
									a.btn.btn-outline-primary.btn-sm(data-toggle='collapse' href='#newCard' role='button' aria-expanded='false' aria-controls='newCard')
										| Add New Payment Method
								#newCard.collapse
									.border.rounded.pt-3.px-3.pb-2
										.form-group
											label(for='cardholderName') Cardholder Name
											input.form-control#cardholderName(type='text' placeholder='Name on Card')

										.form-group
											label(for='cardDetails') Card Details
											input.form-control#cardDetails(type='text' placeholder='Card Number')
										.form-group.form-check
											input#exampleCheck1.form-check-input(type='checkbox')
											label.form-check-label(for='exampleCheck1') Save card for future payments
						
						.divider
							span or Pay With
						
						.d-flex.py-3.justify-content-center
							.p-2
								a(href='#0')
									img(src='img/icons/apple-pay.svg' alt='Apple Pay' height='40')
									
							.p-2
								a(href='#0')
									img(src='img/icons/google-pay.svg' alt='Google Pay' height='40')
							
							.p-2
								a.venmo-btn(href='#0')
									+icon-venmo
									span Venmo
								
									
					.card-footer.border-top.py-3
						button.btn.btn-primary.btn-block.btn-lg Complete Payment
					
			// -- end Edit Profile
				
			
		+sidebar-right
