src/pug/coin-playground.pug
extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	
	.container.py-5
		.row.justify-content-center.py-5
			.col-md-3
				h4 Coin animation
				.coin-up
					.coin
						span +10
						
			.col-md-3
				h4 Categories

				ul.nav.site-nav.flex-column

					+navlink('🏠️', 'Home', '#0', 'active')
					+navlink('💥', 'Trending', '#0')
					+navlink('👶', 'Fresh', '#0')
					+navlink('💕', 'Liked', '#0')
					li.nav-divider
					+navlink('🎁', 'Project Board', '#0')
					+navlink('🏅', 'Prizes & Leaderboard', '#0')
					li.nav-section-title Categories
					+navlink('🐾', 'Animals', '#0')
					+navlink('🎭️', 'Art', '#0')
					+navlink('📚️', 'Books', '#0')
					+navlink('👗', 'Fashion', '#0')
					+navlink('💭', 'Comics', '#0')
					+navlink('👽️', 'Conspiracy Theory', '#0')
					+navlink('🎻', 'Culture', '#0')
					+navlink('😁', 'Emoji', '#0')
					+navlink('📺️', 'Entertainment', '#0')
					+navlink('👨‍👩‍👧‍👦', 'Family', '#0')
					
					
					
					
					+navlink('🤸🏾‍♂️', 'Fitness', '#0')
					+navlink('🍔', 'Food/Drink', '#0')
					+navlink('🎮️', 'Gaming', '#0')
					+navlink('🌎️', 'Geography', '#0')
					+navlink('💊', 'Health/Wellness', '#0')
					+navlink('🈳', 'Languages', '#0')
					+navlink('🎷', 'Music', '#0')
					+navlink('💪🏽', 'Motivational', '#0')
					+navlink('🎬️', 'Movies', '#0')
					+navlink('⛰️', 'Nature', '#0')
					+navlink('🧿', 'Optical Illusion', '#0')
					+navlink('🧠', 'Phylosophy', '#0')
					+navlink('🏕', 'Recreation', '#0')
					+navlink('🙏', 'Religion', '#0')
					+navlink('🔬', 'Science', '#0')
					+navlink('🛀', 'Shower Thoughts', '#0')
					+navlink('🏘', 'Society', '#0')
					+navlink('🏄🏽', 'Sports', '#0')
					+navlink('🤖', 'Technology', '#0')
					+navlink('🚂', 'Transportation', '#0')
					+navlink('🧘🏽‍♀️', 'Uplifting', '#0')
					+navlink('🎉', 'World Events', '#0')
					+navlink('💼', 'Work/Business', '#0')
					+navlink('🔫', 'Military', '#0')
					+navlink('📺️', 'Television', '#0')
					+navlink('🥰', 'Relationships', '#0')
					+navlink('🤥', 'Politics', '#0')
					+navlink('😱', 'Thats Life', '#0')
					+navlink('🥳', 'Holidays', '#0')
					+navlink('🤩', 'Celebrities', '#0')
					+navlink('🎓', 'School/Education', '#0')
					+navlink('💸', 'Money/Finance', '#0')
					+navlink('📣', 'Government', '#0')
					
					
					
					
					
					
					

img/coin-playground.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Import Google Font Inter-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <!-- Style CSS-->
    <link rel="stylesheet" href="css/style.css">
    <!-- Style Dark-->
    <link rel="stylesheet" type="text/css" href="css/style-dark.css">
    <title>Entermeme - Family Friendly Meme Marketplace
    </title>
  </head>
  <body class="dark-mode"><b class="screen-overlay"></b>
    <div class="container py-5">
      <div class="row justify-content-center py-5">
        <div class="col-md-3">
          <h4>Coin animation</h4>
          <div class="coin-up">
            <div class="coin"><span>+10</span></div>
          </div>
        </div>
        <div class="col-md-3">
          <h4>Categories</h4>
          <ul class="nav site-nav flex-column">
            <li class="nav-item active"><a class="nav-link active" href="#0"> <span class="text-emoji">🏠️</span>Home</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💥</span>Trending</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">👶</span>Fresh</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💕</span>Liked</a></li>
            <li class="nav-divider"></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎁</span>Project Board</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🏅</span>Prizes &amp; Leaderboard</a></li>
            <li class="nav-section-title">Categories</li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🐾</span>Animals</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎭️</span>Art</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">📚️</span>Books</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">👗</span>Fashion</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💭</span>Comics</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">👽️</span>Conspiracy Theory</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎻</span>Culture</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">😁</span>Emoji</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">📺️</span>Entertainment</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">👨‍👩‍👧‍👦</span>Family</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🤸🏾‍♂️</span>Fitness</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🍔</span>Food/Drink</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎮️</span>Gaming</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🌎️</span>Geography</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💊</span>Health/Wellness</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🈳</span>Languages</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎷</span>Music</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💪🏽</span>Motivational</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎬️</span>Movies</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">⛰️</span>Nature</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🧿</span>Optical Illusion</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🧠</span>Phylosophy</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🏕</span>Recreation</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🙏</span>Religion</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🔬</span>Science</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🛀</span>Shower Thoughts</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🏘</span>Society</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🏄🏽</span>Sports</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🤖</span>Technology</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🚂</span>Transportation</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🧘🏽‍♀️</span>Uplifting</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎉</span>World Events</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💼</span>Work/Business</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🔫</span>Military</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">📺️</span>Television</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🥰</span>Relationships</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🤥</span>Politics</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">😱</span>Thats Life</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🥳</span>Holidays</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🤩</span>Celebrities</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">🎓</span>School/Education</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">💸</span>Money/Finance</a></li>
            <li class="nav-item active"><a class="nav-link" href="#0"> <span class="text-emoji">📣</span>Government</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <!-- Enable Bootstrap tooltip-->
    <script>
      $(function () {
      	$('[data-toggle="tooltip"]').tooltip()
      })
      
    </script>
    <!-- Toggle sidebars on mobile-->
    <script>
      $("[data-trigger]").on("click", function(e){
      	e.preventDefault();
      	e.stopPropagation();
      	var offcanvas_id =  $(this).attr('data-trigger');
      	$(offcanvas_id).toggleClass("show");
      	$('body').toggleClass("offcanvas-active");
      	$(".screen-overlay").toggleClass("show");
      }); 
      
      $(".btn-close, .screen-overlay").click(function(e){
      	$(".screen-overlay").removeClass("show");
      	$(".mobile-offcanvas").removeClass("show");
      	$("body").removeClass("offcanvas-active");
      }); 
      
    </script>
    <!-- Show and hide search on mobile-->
    <script>
      function toggleClass(el, className) {
       var el = document.querySelectorAll(el);
      	for (i = 0; i < el.length; i++) {
      		if (el[i].classList) {
      			el[i].classList.toggle(className);
      		} else {
      				var classes = el[i].className.split(' ');
      				var existingIndex = -1;
      				for (var j = classes.length; j--;) {
      					if (classes[j] === className)
      						existingIndex = j;
      				}
      				if (existingIndex >= 0)
      					classes.splice(existingIndex, 1);
      				else
      					classes.push(className);
      
      			el[i].className = classes.join(' ');
      		}
      	}
      }
      
    </script>
    <!-- Toggle -->
    <script>
      function themeSwitch() {
      	var element = document.body;
      	element.classList.toggle("dark-mode");
      }
    </script>
  </body>
</html>
