meme-creator.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Import Google Font Inter-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <!-- Import Boxicons Icon Font-->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    <!-- Style CSS-->
    <link rel="stylesheet" href="css/style.css">
    <!-- Style Dark-->
    <link rel="stylesheet" type="text/css" href="css/style-dark.css">
    <title>Entermeme - Family Friendly Meme Marketplace
    </title>
  </head>
  <body class="dark-mode"><b class="screen-overlay"></b>
    <div class="modal fade" id="partnerModal" tabindex="-1" role="dialog" aria-labelledby="partnerModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Congratulations, your meme has been saved!</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <!-- Partner CTA -->
            <div class="partner-cta"><img class="partner-cta-logo" src="img/logo.png" height="28" alt="Entermeme - Family Friendly Meme Marketplace"/>
              <p class="partner-cta-description">Post your meme at <a href="https://entermeme.com" target="_blank">entermeme.com  </a>  and <br/><strong>WIN DAILY COOL PRIZES!</strong></p>
              <div class="partner-cta-prize"><img class="partner-cta-prize-img" src="img/amazon-gift.png" alt="Win $5 Amazon Digital Giftcard"/>
                <div class="partner-cta-prize-heading">TODAY'S PRIZE</div>
                <div class="partner-cta-prize-text">$5 Amazon Digital Giftcard</div>
              </div><a class="partner-cta-btn" href="#0">Post Now and earn your first 5 points!</a>
            </div>
            <!-- end Partner CTA -->
          </div>
          <div class="modal-footer"><a class="btn btn-light" data-dismiss="modal">Close</a></div>
        </div>
      </div>
    </div>
    <div class="bg-white py-5">
      <div class="d-flex justify-content-center align-items-center p-5"><a class="btn btn-primary" href="#0" data-toggle="modal" data-target="#partnerModal">Open Demo Modal</a></div>
      <hr>
      <div class="container">
        <div class="row justify-content-center py-5">
          <div class="col-md-5">
            <!-- Partner CTA -->
            <div class="partner-cta"><img class="partner-cta-logo" src="img/logo.png" height="28" alt="Entermeme - Family Friendly Meme Marketplace">
              <p class="partner-cta-description">Post your meme at <a href="https://entermeme.com" target="_blank">entermeme.com  </a>  and <br><strong>WIN DAILY COOL PRIZES!</strong></p>
              <div class="partner-cta-prize"><img class="partner-cta-prize-img" src="img/amazon-gift.png" alt="Win $5 Amazon Digital Giftcard">
                <div class="partner-cta-prize-heading">TODAY'S PRIZE</div>
                <div class="partner-cta-prize-text">$5 Amazon Digital Giftcard</div>
              </div><a class="partner-cta-btn" href="#0">Post Now and earn your first 5 points!</a>
            </div>
            <!-- end Partner CTA -->
            <div class="py-5"></div>
            <!-- Partner CTA -->
            <div class="partner-cta"><img class="partner-cta-logo" src="img/logo.png" height="28" alt="Entermeme - Family Friendly Meme Marketplace">
              <div class="partner-cta-prize-heading">We pay for memes!</div>
              <div class="partner-cta-prize-text mb-4"> <strong>Post your meme  </strong> on  <a href="https://entermeme.com" target="_blank">entermeme.com </a> and get paid!</div>
              <div class="partner-cta-prize-heading">Too shy to post memes?</div>
              <div class="partner-cta-prize-text mb-4">You can earn points by <strong>sharing, voting and commenting.</strong></div><a class="partner-cta-btn" href="#0">Learn more...</a>
            </div>
            <!-- end Partner CTA -->
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <!-- Enable Bootstrap tooltip-->
    <script>
      $(function () {
      	$('[data-toggle="tooltip"]').tooltip()
      })
      
    </script>
    <!-- Toggle sidebars on mobile-->
    <script>
      $("[data-trigger]").on("click", function(e){
      	e.preventDefault();
      	e.stopPropagation();
      	var offcanvas_id =  $(this).attr('data-trigger');
      	$(offcanvas_id).toggleClass("show");
      	$('body').toggleClass("offcanvas-active");
      	$(".screen-overlay").toggleClass("show");
      }); 
      
      $(".btn-close, .screen-overlay").click(function(e){
      	$(".screen-overlay").removeClass("show");
      	$(".mobile-offcanvas").removeClass("show");
      	$("body").removeClass("offcanvas-active");
      }); 
      
    </script>
    <!-- Show and hide search on mobile-->
    <script>
      function toggleClass(el, className) {
       var el = document.querySelectorAll(el);
      	for (i = 0; i < el.length; i++) {
      		if (el[i].classList) {
      			el[i].classList.toggle(className);
      		} else {
      				var classes = el[i].className.split(' ');
      				var existingIndex = -1;
      				for (var j = classes.length; j--;) {
      					if (classes[j] === className)
      						existingIndex = j;
      				}
      				if (existingIndex >= 0)
      					classes.splice(existingIndex, 1);
      				else
      					classes.push(className);
      
      			el[i].className = classes.join(' ');
      		}
      	}
      }
      
    </script>
    <!-- Toggle -->
    <script>
      function themeSwitch() {
      	var element = document.body;
      	element.classList.toggle("dark-mode");
      }
    </script>
  </body>
</html>

src/pug/meme-creator.pug
extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+partner-modal
	
	.bg-white.py-5

		.d-flex.justify-content-center.align-items-center.p-5
			a.btn.btn-primary(href='#0' data-toggle="modal" data-target="#partnerModal") Open Demo Modal

		hr
		.container
			.row.justify-content-center.py-5
				.col-md-5
				
					// Partner CTA 
					.partner-cta
						img.partner-cta-logo(src='img/logo.png' height='28' alt='Entermeme - Family Friendly Meme Marketplace')
						p.partner-cta-description Post your meme at 
							a(href='https://entermeme.com' target='_blank') entermeme.com  
							|   and 
							br
							strong WIN DAILY COOL PRIZES!
						.partner-cta-prize
							img.partner-cta-prize-img(src='img/amazon-gift.png' alt='Win $5 Amazon Digital Giftcard')
							.partner-cta-prize-heading TODAY'S PRIZE
							.partner-cta-prize-text $5 Amazon Digital Giftcard

						a.partner-cta-btn(href='#0') Post Now and earn your first 5 points!
					// end Partner CTA 
					
					.py-5
					
					// Partner CTA 
					.partner-cta
						img.partner-cta-logo(src='img/logo.png' height='28' alt='Entermeme - Family Friendly Meme Marketplace')
							
						.partner-cta-prize-heading We pay for memes!
						.partner-cta-prize-text.mb-4 
							strong Post your meme  
							|  on  
							a(href='https://entermeme.com' target='_blank') entermeme.com 
							|  and get paid!
						
						.partner-cta-prize-heading Too shy to post memes?
						.partner-cta-prize-text.mb-4 You can earn points by 
							strong sharing, voting and commenting.
						
						a.partner-cta-btn(href='#0') Learn more...
					// end Partner CTA 
