img/promo.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Import Google Font Inter-->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
    <!-- Style CSS-->
    <link rel="stylesheet" href="css/style.css">
    <!-- Style Dark-->
    <link rel="stylesheet" type="text/css" href="css/style-dark.css">
    <title>Entermeme - Family Friendly Meme Marketplace
    </title>
  </head>
  <body class="dark-mode"><b class="screen-overlay"></b>
    <div class="modal fade" id="partnerModal" tabindex="-1" role="dialog" aria-labelledby="partnerModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Congratulations, your meme has been saved!</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
          <div class="modal-body">
            <!-- Partner CTA -->
            <div class="partner-cta"><img class="partner-cta-logo" src="img/logo.png" height="28" alt="Entermeme - Family Friendly Meme Marketplace"/>
              <p class="partner-cta-description">Post your meme at <a href="https://entermeme.com" target="_blank">entermeme.com  </a>  and <br/><strong>WIN DAILY COOL PRIZES!</strong></p>
              <div class="partner-cta-prize"><img class="partner-cta-prize-img" src="img/amazon-gift.png" alt="Win $5 Amazon Digital Giftcard"/>
                <div class="partner-cta-prize-heading">TODAY'S PRIZE</div>
                <div class="partner-cta-prize-text">$5 Amazon Digital Giftcard</div>
              </div><a class="partner-cta-btn" href="#0">Post Now and earn your first 5 points!</a>
            </div>
            <!-- end Partner CTA -->
          </div>
          <div class="modal-footer"><a class="btn btn-light" data-dismiss="modal">Close</a></div>
        </div>
      </div>
    </div>
    <div class="bg-white py-5">
      <div class="d-flex justify-content-center align-items-center p-5"><a class="btn btn-primary" href="#0" data-toggle="modal" data-target="#partnerModal">Open Demo Modal</a></div>
      <hr>
      <div class="container">
        <div class="row justify-content-center py-5">
          <div class="col-md-5">
            <!-- Partner CTA -->
            <div class="partner-cta"><img class="partner-cta-logo" src="img/logo.png" height="28" alt="Entermeme - Family Friendly Meme Marketplace">
              <p class="partner-cta-description">Post your meme at <a href="https://entermeme.com" target="_blank">entermeme.com  </a>  and <br><strong>WIN DAILY COOL PRIZES!</strong></p>
              <div class="partner-cta-prize"><img class="partner-cta-prize-img" src="img/amazon-gift.png" alt="Win $5 Amazon Digital Giftcard">
                <div class="partner-cta-prize-heading">TODAY'S PRIZE</div>
                <div class="partner-cta-prize-text">$5 Amazon Digital Giftcard</div>
              </div><a class="partner-cta-btn" href="#0">Post Now and earn your first 5 points!</a>
            </div>
            <!-- end Partner CTA -->
            <div class="py-3"></div>
            <!-- Partner CTA -->
            <div class="partner-cta"><img class="partner-cta-logo" src="img/logo.png" height="28" alt="Entermeme - Family Friendly Meme Marketplace">
              <div class="partner-cta-prize-heading">We pay for memes!</div>
              <div class="partner-cta-prize-text mb-4"> <strong>Post your meme  </strong> on  <a href="https://entermeme.com" target="_blank">entermeme.com </a> and get paid!</div>
              <div class="partner-cta-prize-heading">Too shy to post memes?</div>
              <div class="partner-cta-prize-text mb-4">You can earn points by <strong>sharing, voting and commenting.</strong></div><a class="partner-cta-btn" href="#0">Learn more...</a>
            </div>
            <!-- end Partner CTA -->
            <div class="py-3"></div>
            <div class="partner-cta"><img src="img/making_money_from_memes.jpg" alt="We pay for memes">
              <div class="partner-cta-coin"><img src="img/coin.png" width="56"></div>
              <div class="my-2"></div>
              <h4 class="partner-cta-prize-heading">We pay for memes!</h4>
              <p>Just post your meme and get paid!</p><a class="partner-cta-btn" href="#0">Start Making Money</a>
              <hr><a href="#0"><img class="partner-cta-logo" src="img/logo.png" height="20" alt="Entermeme - Family Friendly Meme Marketplace"></a>
            </div>
            <div class="py-3"></div>
            <div class="partner-cta">
              <div class="partner-cta-meme-text">Sell Me this Meme!</div><img src="img/sell-me-meme.png" alt="We pay for memes">
              <div class="partner-cta-coin"><img src="img/coin.png" width="56"></div>
              <div class="my-2"></div>
              <h4 class="partner-cta-prize-heading">We pay memes authors!</h4>
              <p>Just post your first meme...</p>
              <h5>Too shy to post?</h5>
              <p>Earn money by sharing, commenting and voting memes. </p><a class="partner-cta-btn" href="#0">Start Earning with Entermeme</a>
              <hr><a href="#0"><img class="partner-cta-logo" src="img/logo.png" height="20" alt="Entermeme - Family Friendly Meme Marketplace"></a>
            </div>
            <div class="py-3"></div>
            <div class="partner-cta"><img src="img/distracted-boyfriend.png" alt="We pay for memes">
              <div class="partner-cta-coin"><img src="img/coin.png" width="56"></div>
              <div class="my-2"></div>
              <h4 class="partner-cta-prize-heading">We pay for memes!</h4>
              <p>Just post your meme and get paid!</p><a class="partner-cta-btn" href="#0">Learn more...</a>
              <hr><a href="#0"><img class="partner-cta-logo" src="img/logo.png" height="20" alt="Entermeme - Family Friendly Meme Marketplace"></a>
            </div>
            <div class="py-3"></div>
            <div class="partner-cta"><img src="img/family-friendly.jpg" alt="We pay for memes" width="200">
              <h4 class="mt-3"><strong>What Lannisters have common with Entermeme?</strong></h4>
              <p>we pay for our debts<br>and we are family friendly :)</p>
              <div class="my-3"></div><a class="partner-cta-btn" href="#0">Browse who won money and start earning too.</a>
              <hr><a href="#0"><img class="partner-cta-logo" src="img/logo.png" height="20" alt="Entermeme - Family Friendly Meme Marketplace"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <!-- Enable Bootstrap tooltip-->
    <script>
      $(function () {
      	$('[data-toggle="tooltip"]').tooltip()
      })
      
    </script>
    <!-- Toggle sidebars on mobile-->
    <script>
      $("[data-trigger]").on("click", function(e){
      	e.preventDefault();
      	e.stopPropagation();
      	var offcanvas_id =  $(this).attr('data-trigger');
      	$(offcanvas_id).toggleClass("show");
      	$('body').toggleClass("offcanvas-active");
      	$(".screen-overlay").toggleClass("show");
      }); 
      
      $(".btn-close, .screen-overlay").click(function(e){
      	$(".screen-overlay").removeClass("show");
      	$(".mobile-offcanvas").removeClass("show");
      	$("body").removeClass("offcanvas-active");
      }); 
      
    </script>
    <!-- Show and hide search on mobile-->
    <script>
      function toggleClass(el, className) {
       var el = document.querySelectorAll(el);
      	for (i = 0; i < el.length; i++) {
      		if (el[i].classList) {
      			el[i].classList.toggle(className);
      		} else {
      				var classes = el[i].className.split(' ');
      				var existingIndex = -1;
      				for (var j = classes.length; j--;) {
      					if (classes[j] === className)
      						existingIndex = j;
      				}
      				if (existingIndex >= 0)
      					classes.splice(existingIndex, 1);
      				else
      					classes.push(className);
      
      			el[i].className = classes.join(' ');
      		}
      	}
      }
      
    </script>
    <!-- Toggle -->
    <script>
      function themeSwitch() {
      	var element = document.body;
      	element.classList.toggle("dark-mode");
      }
    </script>
  </body>
</html>

src/pug/promo.pug
extends _main.pug

block title
	| Entermeme - Family Friendly Meme Marketplace

block content
	+partner-modal
	
	.bg-white.py-5
		.d-flex.justify-content-center.align-items-center.p-5
			a.btn.btn-primary(href='#0' data-toggle="modal" data-target="#partnerModal") Open Demo Modal

		hr
		
		.container
			.row.justify-content-center.py-5
				.col-md-5
				
					// Partner CTA 
					.partner-cta
						img.partner-cta-logo(src='img/logo.png' height='28' alt='Entermeme - Family Friendly Meme Marketplace')
						p.partner-cta-description Post your meme at 
							a(href='https://entermeme.com' target='_blank') entermeme.com  
							|   and 
							br
							strong WIN DAILY COOL PRIZES!
						.partner-cta-prize
							img.partner-cta-prize-img(src='img/amazon-gift.png' alt='Win $5 Amazon Digital Giftcard')
							.partner-cta-prize-heading TODAY'S PRIZE
							.partner-cta-prize-text $5 Amazon Digital Giftcard

						a.partner-cta-btn(href='#0') Post Now and earn your first 5 points!
					// end Partner CTA 
					
					.py-3
					
					// Partner CTA 
					.partner-cta
						img.partner-cta-logo(src='img/logo.png' height='28' alt='Entermeme - Family Friendly Meme Marketplace')
							
						.partner-cta-prize-heading We pay for memes!
						.partner-cta-prize-text.mb-4 
							strong Post your meme  
							|  on  
							a(href='https://entermeme.com' target='_blank') entermeme.com 
							|  and get paid!
						
						.partner-cta-prize-heading Too shy to post memes?
						.partner-cta-prize-text.mb-4 You can earn points by 
							strong sharing, voting and commenting.
						
						a.partner-cta-btn(href='#0') Learn more...
					// end Partner CTA 
					
					.py-3
					
					.partner-cta
						img(src='img/making_money_from_memes.jpg' alt='We pay for memes')
						.partner-cta-coin
							img(src='img/coin.png' width='56')
						.my-2
						h4.partner-cta-prize-heading We pay for memes!
						
						p Just post your meme and get paid!
						
						a.partner-cta-btn(href='#0') Start Making Money
						hr 
						a(href='#0')
							img.partner-cta-logo(src='img/logo.png' height='20' alt='Entermeme - Family Friendly Meme Marketplace')
					
					.py-3
					
					.partner-cta
						.partner-cta-meme-text Sell Me this Meme!
						img(src='img/sell-me-meme.png' alt='We pay for memes')
						.partner-cta-coin
							img(src='img/coin.png' width='56')
						.my-2
						h4.partner-cta-prize-heading We pay memes authors!
						
						p Just post your first meme...
						
						h5 Too shy to post?
						p Earn money by sharing, commenting and voting memes. 
							
						
						a.partner-cta-btn(href='#0') Start Earning with Entermeme
						hr 
						a(href='#0')
							img.partner-cta-logo(src='img/logo.png' height='20' alt='Entermeme - Family Friendly Meme Marketplace')
							
					
					.py-3
					
					.partner-cta
						img(src='img/distracted-boyfriend.png' alt='We pay for memes')
						.partner-cta-coin
							img(src='img/coin.png' width='56')
						.my-2
						h4.partner-cta-prize-heading We pay for memes!
						
						p Just post your meme and get paid!
						
						a.partner-cta-btn(href='#0') Learn more...
						hr 
						a(href='#0')
							img.partner-cta-logo(src='img/logo.png' height='20' alt='Entermeme - Family Friendly Meme Marketplace')
						
					
					.py-3
					
					.partner-cta
						
						img(src='img/family-friendly.jpg' alt='We pay for memes' width='200')
						h4.mt-3
							strong What Lannisters have common with Entermeme?
						p we pay for our debts
							br
							| and we are family friendly :)
						.my-3
						a.partner-cta-btn(href='#0') Browse who won money and start earning too.
						hr 
						a(href='#0')
							img.partner-cta-logo(src='img/logo.png' height='20' alt='Entermeme - Family Friendly Meme Marketplace')
